{#
 # Form Field Custom Formatter Twig file.
 # Available variables:
 # - attributes: an attribute twig object
 # - items: Array of renderable arrays (with item key).
 #   - item variables:
 #     - fff_classess: array of classes passed from the field formatter
 #     - fff_ id: id passed from field formatter
 #     - fff_prefix: a prefix HTML code passed from the field formatter
 #     - fff_suffix: a suffix HTML code passed from the field formatter
 #}

{% set attributes = create_attribute() %}

{# Render wrap open tag #}
{{ fff_wrap_prefix |raw }}
  {# Render all items #}
  {% for item in items %}
      {#
         Render prefix element.
         Raw filter will not escape HTML tags
      #}
      {{ item.fff_prefix |raw }}

      {# Set classes and id for the item if exists #}
      <div{{ attributes
        .addClass(item.fff_classes)
        .setAttribute('id', item.fff_id)
      }}>
        {{ item.item }}
      </div>
      {#
         Render suffix element.
         Raw filter will not escape HTML tags
      #}
      {{ item.fff_suffix |raw }}
  {% endfor %}
{# Render wrap open tag #}
{{ fff_wrap_suffix |raw }}
